<div nz-row class="header">
  <div nz-col nzSpan="14" class="top-left">
    <nz-carousel nzAutoPlay style="width: 80%; float: right">
      <div nz-carousel-content *ngFor="let index of [1, 2, 3, 4]">
        <img [src]="'assets/img/' + index + '.jpg'" style="width: 100%" />
      </div>
    </nz-carousel>
  </div>
  <div nz-col nzSpan="10" class="top-right">
    <div nz-row>
      <nz-card
        style="width: 80%; margin-left: 10%"
        [nzBordered]="false"
        nzTitle="新闻"
        [nzExtra]="extraTemplate"
      >
        <p>这里是康辉</p>
      </nz-card>
    </div>
    <div nz-row>
      <nz-card
        style="width: 80%; margin-left: 10%; margin-top: 10%"
        [nzBordered]="false"
        nzTitle="广告"
        [nzExtra]="extraTemplate"
      >
        <p>这里是康康</p>
      </nz-card>
    </div>
    <ng-template #extraTemplate>
      <a>More</a>
    </ng-template>
  </div>
</div>
<div nz-row class="content">
  <div
    nz-col
    nzSpan="14"
    class="top-left"
    style="display: inline-table; margin-bottom: 20px"
  >
    <div nz-row [nzGutter]="[20, 20]">
      <div nz-col [nzSpan]="24" *ngFor="let item of articleList">
        <nz-card style="width: 80%; left: 20%">
          <div style="text-align: left; font-size: 20px; font-weight: 700">
            {{ item.Name }}
          </div>
          <div style="text-align: left; margin-left: 20px">
            {{ item.Title }}
          </div>
          <div style="text-align: left; margin-left: 20px">
            <i nz-icon nzType="user" nzTheme="outline"></i
            ><span class="icon-span">{{ item.name }}</span>
            <i nz-icon nzType="build" nzTheme="outline"></i
            ><span class="icon-span">{{ item.Build }}</span>
            <i nz-icon nzType="eye" nzTheme="outline"></i
            ><span class="icon-span">{{ item.Count || 0 }}</span>
            <i nz-icon nzType="heart" nzTheme="outline"></i
            ><span class="icon-span">{{ item.Heart || 0 }}</span>
            <i nz-icon nzType="field-time" nzTheme="outline"></i
            ><span class="icon-span">{{ item.Time || "2021年11月24日" }}</span>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
  <div
    nz-col
    nzSpan="10"
    class="top-right"
    style="display: inline-table; margin-bottom: 20px"
  >
    <div nz-row [nzGutter]="[20, 20]">
      <div nz-col [nzSpan]="24" *ngFor="let item of articleList">
        <nz-card style="width: 80%; left: 10%">
          <nz-card-meta
            [nzTitle]="item.Name"
            [nzDescription]="item.Title"
          ></nz-card-meta>
        </nz-card>
      </div>
    </div>
  </div>
</div>
